
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.header
 {
    padding: 20px;
    text-align: center;
 }
 .headerh1
 {
	color:black;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-weight:bold;
	text-shadow: 2px 2px 3px #000000;
 }

body
{
	background-image: url("updateimage.jpg");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-size:cover;
	font-family:sans-serif;
}

.nav-bar{
	background:rgb(0, 51, 102);
	text-align:center;
}

.nav-bar ul
{
	display:inline-flex;
	list-style:none;
	color:#fff;
}

.nav-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.nav-bar li a
{
	
	text-decoration:none;
	color:#fff;
}

.active , .nav-bar  li:hover
{
	background: rgb(13, 13, 13);
	border-radius:3px;
}

.nav-bar li .fa
{
	margin-right:8px;
}

.submenu
{
	display:none;
}

.nav-bar  li:hover .submenu
{
	display:block;
	position:absolute;
	background:rgb(0, 51, 102);
	margin-top:15px;
	margin-left:-15px;
}

.nav-bar  li:hover .submenu ul
{  
    display:block;
    margin: 10px;	
}

.nav-bar  li:hover .submenu ul li
{

	width:150px;
	padding:10px;
	border-bottom: 1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}

.nav-bar  li:hover .submenu ul li:last-child
{
	border-bottom:none;
}

.nav-bar  li:hover .submenu ul li a:hover
{
	color:blue;
}

.fa-angle-right
{
	float:right;
}

.sub-menu
{
	display:none;
}

.hover-me:hover .sub-menu 
{
	position: absolute;
	display:block;
	margin-top:-40px;
	margin-left:140px;
	background:rgb(0, 51, 102);
}
.nav-bar .icon{
	display:none;
}

@media (max-width:600px)
{
	.nav-bar ul
	{
		display:block;
	}
	.nav-bar ul li
	{
		display:block;
	}
	.nav-bar ul li .submenu ul li
	{
		width:100%;
		z-index:1;
	}
	.nav-bar ul li .submenu ul li .sub-menu ul li
	{
		width:100%;
		z-index:1;
		
	}
}

 .column {
  float: left;
  padding:20px;
  }

  .column.side {
   width: 25%;
   }

  .column.middle {
    width: 75%;
  }


  .row:after {
   content: "";
   display: table;
   clear: both;
  }


   @media screen and (max-width: 600px) 
   {
    .column.side, .column.middle 
	{
    width: 100%;
   }
  }
.search{
	padding:15px;
}

input[type=text] {
  width: auto;
  float:right;
  font-weight:bold;
  margin-right:15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color:white;
  padding: 12px 20px 12px 40px;
}
input[type=submit]{
  background-color:rgb(128, 128, 255);
  float:right;
  color:white;
  box-sizing: border-box;
  border: 2px solid #ccc;
  text-align: center;
  text-decoration: none;
  border-radius:2px;
  cursor: pointer;
  padding: 12px 20px 12px 40px;
}

@media screen and (max-width:600px){
  input[type=text]{
  float:right;
  margin:0;
  width:100%;
  }
  input[type=submit]{
  float:right;
 }
}
	

 div.gallery {

  border: 1px solid #ccc;

}



div.gallery:hover {

  border: 1px solid #777;
  box-shadow:10px 10px 5px white;

}



div.gallery img {

  width: 100%;

  height: 150px;

}



div.desc {
  color:white;

  padding: 15px;

  text-align: center;

}



.responsive {

  padding: 0 6px;

  float: left;

  width: 24.99999%;

}



@media only screen and (max-width: 700px) {

  .responsive {

    width: 49.99999%;

    margin: 6px 0;

  }

}



@media only screen and (max-width: 500px) {

  .responsive {

    width: 100%;

  }

}



.clearfix:after {

  content: "";

  display: table;

  clear: both;

}
.uploadcontent
{
	background-color:white;
	padding:20px;
	border:2px solid black;
	border-raddius:4px;
}
.uploadcontent:hover
{
	 box-shadow:10px 10px 5px black;
}
	
input[type=file] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute ;
  white-space: nowrap;
  width: 100%; 
}
input[type=file] + label {
  width:70%;
  height:auto;
  margin-left:25px;
  text-align:center;
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding:auto;
}
 input[type=file]:focus + label,
input[type=file] + label:hover {
    background-color: #f15d22;
}
  
input[type=file]:focus + label {
  outline: 1px dotted #000;
}
