
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.header
 {
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
 }
 .headerh1
 {
	color:white;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-weight:bold;
 }

body
{
	background-image: url("updateimage.jpg");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:center;
	font-family:sans-serif;
}

.nav-bar{
	background:rgb(0, 51, 102);
	text-align:center;
}

.nav-bar ul
{
	display:inline-flex;
	list-style:none;
	color:#fff;
}

.nav-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.nav-bar li a
{
	
	text-decoration:none;
	color:#fff;
}

.active , .nav-bar  li:hover
{
	background: rgb(0, 51, 0);
	border-radius:3px;
}

.nav-bar li .fa
{
	margin-right:8px;
}

.submenu
{
	display:none;
}

.nav-bar  li:hover .submenu
{
	display:block;
	position:absolute;
	background:rgb(0, 51, 102);
	margin-top:15px;
	margin-left:-15px;
}

.nav-bar  li:hover .submenu ul
{  
    display:block;
    margin: 10px;	
}

.nav-bar  li:hover .submenu ul li
{

	width:150px;
	padding:10px;
	border-bottom: 1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}

.nav-bar  li:hover .submenu ul li:last-child
{
	border-bottom:none;
}

.nav-bar  li:hover .submenu ul li a:hover
{
	color:blue;
}

.fa-angle-right
{
	float:right;
}

.sub-menu
{
	display:none;
}

.hover-me:hover .sub-menu 
{
	position: absolute;
	display:block;
	margin-top:-40px;
	margin-left:140px;
	background:rgb(0, 51, 102);
}
.nav-bar .icon{
	display:none;
}
@media (max-width:600px)
{
	.nav-bar ul
	{
		display:block;
	}
	.nav-bar ul li
	{
		display:block;
	}
	.nav-bar ul li .submenu ul li
	{
		width:100%;
		z-index:1;
	}
	.nav-bar ul li .submenu ul li .sub-menu ul li
	{
		width:100%;
		z-index:1;
		
	}
}

	
